html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size:16px;
  font-weight: 300px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  color:#000000;
  background:#ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  padding-top: 48px;
  background:#eeeeee;
}

.index-logo {
  float: left;
  width: 160px;
  margin-right: 200px;
}

.main-navigation {
  float: left;
  width: 540px;
  margin-right: 100px;
}

.main-navigation li {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.navi {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
}

.user-bask {
  float: left;
  width: 160px;
  text-align: center;
}

.bask {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
}

.main-header:last-child {
  margin-right: 0px;
}

.main-slider {
  height: 430px;
  background: #eeeeee;
}

.slider {
  float: left;
  position: relative;
  width: 1160px;
  height: 430px;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 160px;
  height: 40px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  background: white;
  border: 5px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.slider-controls label active{
  background: #c1c1c1;
}

.slide {
  position: absolute;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-title {
  font-size: 55px;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #000000;
  text-transform: none;
  line-height: 55px;
}

.slide-text {
  width: 400px;
  padding: 40px 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Regular", "Arial", sans-serif;
  color: #283136;
  text-transform: none;
  line-height: 24px;
}

.slide .btn {
  display: block;
  width: 240px;
  padding: 10px 0;
  margin-top: 25px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slide:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slide:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat:no-repeat;
  background-position: 100% 100%;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.main-services-content .container {
  padding-bottom: 83px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.main-services-content {
  height: 430px;
  padding-top: 85px;
}

.main-services {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.main-services:last-child {
  margin-right: 0px;
}

.main-services-title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  line-height: 30px;
}

.main-services .tegline {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto regular", "Arial", sans-serif;
  color: #283136;
  text-transform: none;
  line-height: 24px;
}

.main-services .btn-1 {
  display: block;
  width: 160px;
  padding: 10px 0;
  margin-top: 25px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.main-services .btn-2 {
  display: block;
  width: 160px;
  padding: 10px 0;
  margin-top: 25px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #00ca74;
  border-radius: 3px;
}

.main-services .btn-3 {
  display: block;
  width: 160px;
  padding: 10px 0;
  margin-top: 25px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #efc84a;
  border-radius: 3px;
}

.main-index-content {
  height: 530px;
  padding-top: 80px;
}

.index-content-left {
  float: left;
  width: 660px;
  height: 530px;
  margin-right: 140px;
}

.index-content-right {
  float: right;
  width: 360px;
  height: 530px;
}

.index-content-title {
  font-size: 45px;
  font-weight: 500;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #000000;
  text-transform: none;
  line-height: 45px;
}

.span {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto Bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  line-height: 24px;
}

.index-content-left li {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto regular", "Arial", sans-serif;
  color: #283136;
  text-transform: none;
  line-height: 50px;
  list-style-type: none;
}

.index-content-left li:before {
  content: "\2014";
  font-weight: bold;
  color: #fb565a;
  padding-right: 15px;
}

.main-stat .statistics span {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  font-family: "Roboto bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  line-height: 45px;
}

.main-stat .statistics sup {
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.main-stat .statistics {
  display: inline-block;
  width: 100px;
  margin-right: 15px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Regular", "Arial", sans-serif;
  color: #283136;
  text-transform: none;
  line-height: 18px;
}

.main-partners-block {
  margin-bottom: 80px;
  font-size: 0;
}

.main-partners-block .container {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.main-partners-block a {
  float: left;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 260px;
  margin: 48px 0;
  margin-right: 40px;
}

.main-partners-block:last-child {
  margin-right: 0px;
}

.main-useblock {
  width: 100%;
  height: 416px;
  background-image: url('../img/map-marker.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.main-contacts {
  float:left;
  width: 320px;
  height: 310px;
  margin-top: 55px;
  margin-left: 0px;
  background: #ffffff;
}

.main-contacts-title {
  padding-top: 47px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto Bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
}

.main-contacts p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto Regular", "Arial", sans-serif;
  color: #666666;
  text-transform: none;
  text-align: center;
  line-height: 18px;
}

.main-contacts .btn-form a {
  display: block;
  width: 220px;
  padding: 15px 0;
  margin-left: 50px;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.feedback-form {
  display: none;
}

.footer-content-left {
  float: left;
  width: 320px;
  padding: 70px 0;
  margin-right: 80px;
}

.footer-content-right {
  float: left;
  width: 600;
  padding-top: px;
  padding-bottom: 77px;
}

.main-footer:last-child {
  margin-right: 0;
}

.footer-content-left a {
  display: inline-block;
  width: 78px;
  text-align: left;
  margin-right: 12px;
}

.social-btn-vk {
  display: block;
  width: 78px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  text-decoration: none;
  background-image: url('../img/vk-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eeeeee;
  border-radius: 50%;
}

.social-btn-fb {
  display: block;
  width: 78px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  text-decoration: none;
  background-image: url('../img/fb-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eeeeee;
  border-radius: 50%;
}

.social-btn-insta {
  display: block;
  width: 78px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  text-decoration: none;
  background-image: url('../img/insta-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eeeeee;
  border-radius: 50%;
}

.footer-tegline-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto bold", "Arial", sans-serif;
  color: #000000;
  text-transform: none;
  text-align: left;
  line-height: 36px;
}

.footer-tegline-action {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto Regular", "Arial" sans-serif;
  color: #444444;
  text-transform: none;
  text-align: left;
  line-height: 18px;
}

.social-btn-vk:hover,
.social-btn-fb:hover,
.social-btn-insta:hover {
  background-color: #e74246;
}

.social-btn-vk:active,
.social-btn-fb:active,
.social-btn-insta:active {
  background-color: #d7373b;
  box-shadow: #000101;
}

.main-content-title {
  height: 240px;
  padding-top: 85px;
  background:#eeeeee;
}

.main-content-title h1{
  font-size: 55px;
  font-weight: 500;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #000000;
  text-transform: none;
  text-align: center;
  line-height: 55px;
}

.filter-content-left {
  float: left;
  width: 260px;
  margin-right: 140px;
  padding-top: 60px;
}

.filter-content-right {
  float: right;
  width: 760px;
  padding-top: 60px;
}

.range-filter {
  width: 260px;
  padding-top: 55px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: #eeeeee;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 145px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.grid {
  width: 260px;
  min-height: 150px;
  padding-top: 60px;
}

.feature {
  width: 260px;
  min-height: 220px;
  padding-top: 50px;
}

.send button {
  display: block;
  width: 260px;
  padding: 16px 0;
  margin-top: 48px;
  font-size: 16px;

  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #eeeeee;
  border-radius: 3px;
}

.sorting .sort-text {
  float: left;
  width: 360px;
  padding-bottom: 55px;
}

.sorting .select {
  float: right;
  width: 360px;
  padding-bottom: 55px;
  text-align: justify;
  text-align-last: justify;
}

.sorting .select li {
  display: inline-block;
}

.select .sort {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto Regular", "Arial" sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
}

.view-left {
  float: left;
  width: 360px;
  line-height: 1px;
  margin-right: 40px;
  margin-bottom: 36px;
}

.view-right {
  float: right;
  width: 360px;
  line-height: 1px;
  margin-bottom: 36px;
}

.view-left, .view-right {
  position:relative;
  width: 360px;
}

.semi{
  opacity: 0.12
}

.view-left:hover .semi {
  opacity: 1;
}

.view-right:hover .semi {
  opacity: 1;
}

 .mask {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 360px;
  background: #eeeeee;
}

.view-left:hover .mask {
  display: block;

}

.view-right:hover .mask {
  display: block;
}

.mask-title {
  display: block;
  padding-top: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto Bold", "Arial", sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.mask-text {
  display: block;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto Regular", "Arial", sans-serif;
  text-align: center;
  color: #666666;
  text-transform: none;
  text-decoration: none;
}

.btn-buy {
  display: inline-block;
  width: 200px;
  margin: 0 80px;
  padding: 19px 0;
  margin-bottom: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.main-services .btn-1:hover,
.slide .btn:hover,
.btn-buy:hover {
  background-color: #e74246;
}

.main-services .btn-1:active,
.slide .btn:active,
.btn-buy:active {
  background-color: #d7373b;
}

.main-services .btn-2:hover {
  background-color: #00bc6c;
}

.main-services .btn-2:active {
  background-color: #00aa62;
  box-shadow: #000101;
}

.main-services .btn-3:hover {
  background-color: #eab534;
}

.main-services .btn-3:active {
  background-color: #e5a722;
  box-shadow: #000101;
}

.pages-section-content {
  float: left;
  width: 500px;
  padding-top: 24px;
  padding-bottom: 60px;
}

.btn-pages-active {
  display: inline-block;
  width: 44px;
  padding: 14px 0;
  margin-right: 11px;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background: #ffffff;
  border: 3px solid #eeeeee;
  border-radius: 2px;
}

.btn-pages {
  display: inline-block;
  width: 44px;
  padding: 14px 0;
  margin-right: 11px;
  font-size: 16px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #eeeeee;
  border: 3px solid #eeeeee;
  border-radius: 2px;
}

.btn-pages-next {
  display: inline-block;
  width: 254px;
  padding: 14px 0;
  font-size: 16px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #eeeeee;
  border: 3px solid #eeeeee;
  border-radius: 2px;
}
